{
  "openapi": "3.1.0",
  "info": {
    "title": "CAPS 홈페이지",
    "description": "CAPS Homepage v4.0.0",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dgucaps.kr"
    }
  ],
  "security": [
    {
      "JWT": []
    }
  ],
  "tags": [
    {
      "name": "Ledger",
      "description": "장부 API"
    },
    {
      "name": "Wiki",
      "description": "위키 API"
    },
    {
      "name": "Report",
      "description": "문의 신고 API"
    },
    {
      "name": "Member",
      "description": "회원 API"
    },
    {
      "name": "Auth",
      "description": "인증 API"
    }
  ],
  "paths": {
    "/api/v1/wikis": {
      "post": {
        "tags": [
          "Wiki"
        ],
        "summary": "위키 작성",
        "description": "위키를 작성합니다.",
        "operationId": "createWiki",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrModifyWikiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "위키 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiResponse"
                }
              }
            }
          },
          "409": {
            "description": "이미 존재하는 위키 제목",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Wiki"
        ],
        "summary": "위키 수정",
        "description": "위키를 수정합니다.",
        "operationId": "modifyWiki",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrModifyWikiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "위키 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/report": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "문의 및 신고 작성",
        "description": "문의 및 신고 내용을 서버에 제출합니다",
        "operationId": "createReport",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "문의 및 신고 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ledgers": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "게시물 목록 조회",
        "description": "게시물의 목록을 확인합니다",
        "operationId": "getLedgersList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ledger"
        ],
        "summary": "게시물 등록",
        "description": "새로운 게시물을 장부 게시판에 등록합니다",
        "operationId": "createLedger",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrModifyLedgerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "게시물 작성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          },
          "401": {
            "description": "게시물을 작성할 권한이 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files/presigned-url": {
      "get": {
        "tags": [
          "file-controller"
        ],
        "operationId": "getPresignedDownloadUrl",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "file-controller"
        ],
        "operationId": "getPresignedUrl",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PresignedUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reissue": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "토큰 재발급",
        "description": "리프레쉬 토큰을 이용하여 토큰을 재발급합니다.  \n리프레쉬 토큰이 만료되었거나 유효하지 않은 경우 401 에러가 발생합니다.  \n재발급한 토큰은 쿠키로 저장됩니다.",
        "operationId": "reissueToken",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "토큰 재발급 성공",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "리프레쉬 토큰이 유효하지 않음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          },
          "500": {
            "description": "리프레쉬 토큰이 파싱 실패",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "로그아웃",
        "description": "로그아웃합니다.  \n서버가 저장하고 있는 리프레쉬 토큰을 무효화합니다.  \n클라이언트의 액세스, 리프레쉬 토큰을 삭제해야합니다.",
        "operationId": "logout",
        "responses": {
          "204": {
            "description": "로그아웃 성공",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/members/me": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "내 정보 조회",
        "description": "내 정보를 조회합니다.",
        "operationId": "getMemberInfo",
        "responses": {
          "200": {
            "description": "내 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberInfoResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Member"
        ],
        "summary": "내 정보 수정",
        "description": "수정이 필요하지 않은 필드는 null로 요청하면 됩니다.  \n(body에 포함하지 않음)",
        "operationId": "updateMember",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "내 정보 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ledgers/{ledgerId}": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "게시물 상세 조회",
        "description": "게시물의 상세 내용을 확인합니다",
        "operationId": "getSpecificLedger",
        "parameters": [
          {
            "name": "ledgerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 장부 아이디",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ledger"
        ],
        "summary": "게시물 삭제",
        "description": "기존 게시물을 장부 게시판에서 삭제합니다",
        "operationId": "deleteLedger",
        "parameters": [
          {
            "name": "ledgerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "게시물 삭제 성공 (본문 없음)",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "게시물을 삭제할 권한이 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          },
          "404": {
            "description": "해당 게시물이 존재하지 않음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Ledger"
        ],
        "summary": "게시물 수정",
        "description": "기존 게시물의 내용을 수정합니다",
        "operationId": "modifyLedger",
        "parameters": [
          {
            "name": "ledgerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrModifyLedgerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "게시물 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerResponse"
                }
              }
            }
          },
          "401": {
            "description": "게시물을 수정할 권한이 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/complete-registration": {
      "patch": {
        "tags": [
          "Auth"
        ],
        "summary": "회원가입 후 추가 정보 입력",
        "description": "회원가입 후 추가 정보를 입력합니다.",
        "operationId": "completeRegistration",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CompleteRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "회원가입 후 추가 정보 입력 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wikis/{title}": {
      "get": {
        "tags": [
          "Wiki"
        ],
        "summary": "위키 조회",
        "description": "title에 해당하는 위키를 조회합니다.",
        "operationId": "getWiki",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위키 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiResponse"
                }
              }
            }
          },
          "404": {
            "description": "위키를 찾을 수 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wikis/{title}/history": {
      "get": {
        "tags": [
          "Wiki"
        ],
        "summary": "수정 내역 조회",
        "description": "title에 해당하는 위키의 수정 내역을 조회합니다.",
        "operationId": "getWikiHistory",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "수정 내역 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WikiResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wikis/recent": {
      "get": {
        "tags": [
          "Wiki"
        ],
        "summary": "최근 수정 위키",
        "description": "최근 수정된 위키 10개의 제목을 리스트로 조회합니다.",
        "operationId": "getRecentWiki",
        "responses": {
          "200": {
            "description": "무작위 위키 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WikiTitleResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wikis/random": {
      "get": {
        "tags": [
          "Wiki"
        ],
        "summary": "무작위 위키",
        "description": "무작위 위키를 응답합니다",
        "operationId": "getRandomWiki",
        "responses": {
          "200": {
            "description": "무작위 위키 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiTitleResponse"
                }
              }
            }
          },
          "404": {
            "description": "위키를 찾을 수 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wikis/autocomplete": {
      "get": {
        "tags": [
          "Wiki"
        ],
        "summary": "위키 검색어 자동완성",
        "description": "검색어에 해당하는 위키 7개를 자동완성하여 응답합니다",
        "operationId": "getAutocompleteWiki",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위키 검색어 자동완성 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiTitleResponse"
                }
              }
            }
          },
          "404": {
            "description": "위키를 찾을 수 없음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/members/{memberId}": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "다른 회원 정보 조회",
        "description": "본인이 아닌 회원을 번호로 조회합니다.",
        "operationId": "getOtherMemberInfo",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "다른 회원 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberInfoResponse"
                }
              }
            }
          },
          "404": {
            "description": "회원이 존재하지 않음",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": [
          "health-check-controller"
        ],
        "operationId": "CapsServer",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/files": {
      "delete": {
        "tags": [
          "file-controller"
        ],
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponseObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateOrModifyWikiRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "MemberSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "grade": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "WikiResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "member": {
            "$ref": "#/components/schemas/MemberSummary"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SuccessResponseObject": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "CreateReportRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "minLength": 1
          },
          "fileUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "type": "string",
            "enum": [
              "INFO_ERROR",
              "ACCOUNT_MANAGEMENT",
              "SUGGESTION",
              "USER_REPORT_AND_SECURITY_REPORT",
              "ETC"
            ]
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "INFO_ERROR",
              "ACCOUNT_MANAGEMENT",
              "SUGGESTION",
              "USER_REPORT_AND_SECURITY_REPORT",
              "ETC"
            ]
          },
          "fileUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateOrModifyLedgerRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "string",
            "minLength": 1
          },
          "fileUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isPinned": {
            "type": "boolean"
          }
        }
      },
      "LedgerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "fileUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "member": {
            "$ref": "#/components/schemas/MemberSummary"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPinned": {
            "type": "boolean"
          }
        }
      },
      "PresignedUrlRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "minLength": 1
          },
          "fileType": {
            "type": "string"
          }
        }
      },
      "UpdateMemberRequest": {
        "type": "object",
        "properties": {
          "comment": {
            "type": "string",
            "maxLength": 127,
            "minLength": 0
          },
          "profileImageUrl": {
            "type": "string",
            "maxLength": 500,
            "minLength": 0
          }
        }
      },
      "MemberInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "role": {
            "type": "string",
            "enum": [
              "NEW_MEMBER",
              "MEMBER",
              "GRADUATE",
              "COUNCIL",
              "PRESIDENT",
              "ADMIN"
            ]
          },
          "name": {
            "type": "string"
          },
          "studentNumber": {
            "type": "string"
          },
          "grade": {
            "type": "number",
            "format": "float"
          },
          "email": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "profileImageUrl": {
            "type": "string"
          },
          "registrationComplete": {
            "type": "boolean"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "CompleteRegistrationRequest": {
        "type": "object",
        "properties": {
          "studentNumber": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[0-9]{10}$"
          },
          "grade": {
            "type": "number",
            "format": "float",
            "minimum": 0
          },
          "phoneNumber": {
            "type": "string",
            "minLength": 1,
            "pattern": "^\\d{2,3}-\\d{3,4}-\\d{4}$"
          }
        },
        "required": [
          "grade"
        ]
      },
      "WikiTitleResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          }
        }
      },
      "LedgerListResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "member": {
            "$ref": "#/components/schemas/MemberSummary"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "isPinned": {
            "type": "boolean"
          },
          "hasFile": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
