@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slow-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-slow-spin {
    animation: slow-spin 2s linear infinite;
  }
}

.comment-box {
  min-width: 100px; /* 최소 너비 */
  max-width: 300px; /* 최대 너비 */
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 */
  text-align: center; /* 가운데 정렬 */
  display: block; /* block으로 변경하여 레이아웃에 영향을 주지 않도록 */
}
